PORT=8000
NODE_ENV=production
DB_LOCAL=titititit
APP_URL=roororororor
JWT_SECRET=peppepepepepepepe
JWT_EXPIRESIN=70808d
JWT_COOKIE_EXPIRESIN=900000
DATABASE=eppepeppepe
USERNAME=sooood
DATABASE_PASSWORD=588699
DATABASE_USER=posssss
FRONTEND_URL=http

CLOUDINARY_API_SECRET=5884
CLOUDINARY_API_KEY=690dkd
CLOUDINARY_NAME=rurur